body {
    background-color: #212121;
    color: azure;
    font-size: 20px;
    font-weight: bold;
}

.container {
    max-width:600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.input-container {
    margin-bottom: 20px;
}

.output-container {
    margin-bottom: 10px;
}

.toggle-container {
    margin-bottom: 15px;
    position: relative;
    left: 300px;
}

button {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ff9500;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input {
    font-weight: bold;
    border-radius: 10px;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #f2f2f2;
}